*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-image: url('main.jpg');
	background-size: cover;
	background-position: center;
	
}
body h1{
	text-align: center;
	color: white;
	text-shadow: 4px 6px 5px orange;

	padding: 350px;
}
